@use '../../../styles/variables' as v;

.skills {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 5rem;
  width: 90%;

  &-title {
    font-size: v.$h2-size-ls;
    margin-bottom: 10rem;
    text-align: center;
  }

  &-subtitle {
    font-size: v.$h3-size-ls;
    margin-bottom: 3rem;
    transform: translateX(-100px);
    opacity: 0;
    transition: transform 1s ease-out, opacity 0.3s ease-out;
  }

  &-conteneur {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
    justify-content: center;
    width: 100%;
  }

  .skill-conteneur {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  .skill-items {
    align-items: center;
    background: v.$linearPrimaryAccent;
    background-clip: text;
    display: flex;
    font-size: 2.5rem;
    gap: 0.5rem;
    opacity: 0;
    transform: translateX(-100px);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }

  .skill-logo {
    height: 3.5rem;
    width: 3.5rem;
  }

  .skill-name {
    color: transparent;
    font-weight: 600;
  }
}

// Animations
.skills-conteneur--active {
  .skills-subtitle {
    opacity: 1;
    transform: translatex(0);
    transition: transform 1s ease-out, opacity 0.3s ease-out;
  }

  .skill-items {
    background-clip: text;
    opacity: 1;
    transform: translatex(0);
    transition: transform 1s ease-out, opacity 1s ease-out;
  }
}

@media (max-width: 450px) {
  .skills {
    &-title {
      font-size: v.$h2-size-ss;
    }

    &-subtitle {
      font-size: v.$h3-size-ss;
    }

    &-liste {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-top: 1rem;
    }
  }
}
