@layer base {
  :root {
    --text: #041016;
    --background: #f2fafd;
    --primary: #145c76;
    --secondary: #677ae4;
    --accent: #2c1fb2;
  }
  .dark {
    --text: #e9f5fb;
    --background: #020a0d;
    --primary: #89d1eb;
    --secondary: #1b2e98;
    --accent: #594de0;
  }
}
