@use '../../../styles/variables' as v;

.header {
  margin: auto;
  min-height: 70rem;

  &-div {
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    font-size: 5rem;
    width: 100%;
    min-height: 100%;
    gap: 2rem;

    &__content {
      align-items: baseline;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 1rem;
    }

    .header-hey,
    .header-title {
      background: v.$linearPrimaryAccent;
      background-clip: text;
      color: transparent;
    }

    .header-hey {
      font-size: 3rem;
    }

    .header-title {
      font-size: 6rem;
    }

    .header-description {
      font-size: 3rem;
    }
    &-image {
      width: 17rem;
      height: 20rem;
      border-radius: 100%;
    }
  }
}

@media (max-width: 959px) {
  .header {
    &-div {
      flex-wrap: wrap-reverse;
      justify-content: center;
    }
  }
}


@media (max-width: 450px) {
  .header {
    &-div {
      .header-title {
       font-size: 4rem;
      }
    }
  }
}
